<!-- <div style="margin:100px;"><i class="fa fa-frown w3-text-black w3-margin w3-large"></i>
<i class="fa fa-frown-open w3-text-black w3-margin w3-large"></i>
<i class="fa fa-meh w3-text-black w3-margin w3-large"></i>
<i class="fa fa-angry w3-text-black w3-margin w3-large"></i>
</div> -->




<html>
 <meta charset= "UTF-8">   
 <meta name="viewport" content="width=device-width,initial-scale=1">
 <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    body {font-family: "Lato", sans-serif}
    .mySlides {display: none}
    </style>
    <body>
    
    <!-- Navbar -->
    <div class="w3-top">
      <div class="w3-bar w3-black w3-card">
        <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>

        <a href="#" class="w3-bar-item w3-button w3-padding-large">HOME</a>

        <a href="javascript:void(0)" class="w3-padding-large w3-hover-red w3-hide-small w3-right">Signup/Login</a>


</div>
</div>









<div *ngFor ="let parentBrand of brands">
<hp-product-card [childBrand] ="parentBrand" (express)="feelingByChild($event)"></hp-product-card>
</div>
</body>
</html>
<!-- <div *ngFor ="let parentBrand of brands">
<hp-product-card [childBrand] ="parentBrand" (express)="feelingByChild($event)"></hp-product-card>
</div> -->
<div class="row"  *ngFor="let brand of brands">
  <div class="col-md-3 col-lg-3"></div>
  <div class="col-md-3 col-lg-3">
    <hp-product-card
      [brand]="brand"
      (express)="feelingByChild($event)"
    ></hp-product-card>
  </div>
  <div class="col-md-3 col-lg-3"></div>
  <div class="col-md-3 col-lg-3"></div>
</div>
