<!-- <div style="margin:100px;"><i class="fa fa-frown w3-text-black w3-margin w3-large"></i>
<i class="fa fa-frown-open w3-text-black w3-margin w3-large"></i>
<i class="fa fa-meh w3-text-black w3-margin w3-large"></i>
<i class="fa fa-angry w3-text-black w3-margin w3-large"></i>
</div> -->

<!-- <div *ngFor ="let parentBrand of brands">
<hp-product-card [childBrand] ="parentBrand" (express)="feelingByChild($event)"></hp-product-card>
</div> -->
<div class="row"  *ngFor="let brand of brands">
  <div class="col-md-3 col-lg-3"></div>
  <div class="col-md-3 col-lg-3">
    <hp-product-card
      [brand]="brand"
      (express)="feelingByChild($event)"
    ></hp-product-card>
  </div>
  <div class="col-md-3 col-lg-3"></div>
  <div class="col-md-3 col-lg-3"></div>
</div>
