<mat-card class="hp-card">
  <mat-card-header>
    <mat-card-title>{{ brand.name }}</mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <img src="assets/brands.jpg" class="thumbnail-product-resize" />
    <p>Hate score : 7.3</p>
  </mat-card-content>
  <mat-card-actions>
    <i class="fa fa-meh  w3-quarter feeling" matTooltip="dislike"></i>
    <i class="fa fa-frown-open  w3-quarter feeling" matTooltip="hate"></i>
    <i class="fa fa-angry  w3-quarter feeling" matTooltip="angry"></i>
    <i class="fa fa-tired w3-quarter feeling" matTooltip="frustration"></i>
  </mat-card-actions>
</mat-card>
