<footer>
    <div class="footer-top">
        <div class="container">
            <div class="row">
              <div class="col-md-3 col-sm-6 col-xs-12 segment-one">
                <h3>Haters-Point</h3>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12 segment-two">
                <h3>Column 2</h3>
                <ul>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Policy</a></li>
                    <li><a href="#">Register</a></li>
                </ul>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12 segment-three">
                <h3>Follow us</h3> 
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>  
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12 segment-four">
                <h3>Our Newletter</h3> 
                <p>Please enter you name</p>
                <form action="">
                    <input type="email"/>
                    <input type="submit" value="Subscription"/>
                </form>
              </div>
            </div>
        </div>
    </div>
    <p class="footer-bottom-text">All Right Reserved by &copy;Haters-Point-Service<p>
</footer>
