<footer>
    <div class="footer-top">
        <div class="container">
            <div class="row">
              <div class="col-md-4  segment-one">
                <div class="g"></div>
                
                <h3>Haters-Point</h3>
              </div>
              <div class="col-md-4 segment-two">
          
                <ul>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Policy</a></li>
                    <li><a href="#">Register</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
              </div>
              <div class="col-md-1">
                  
              </div>
             
              <div class="col-md-3 segment-three">
                <h3>Follow us</h3> 
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>  
              </div>
             
            </div>
        </div>
    </div>
    <p class="footer-bottom-text">All Right Reserved by &copy;Haters-Point-Service<p>
</footer>
